
.recipe{
  margin: auto;
  background-color: #bedbbb;
  padding: 3rem;
  border-radius: 7px;
  box-shadow: 0px 5px 25px 0 rgba(65, 65, 65, 0.65);
}

.recipe__instructions{
  white-space: pre-wrap;
}

input {
  width: 100%;
}
textarea{
  width: 100%
}

.button__container{
  height: 20px;
  width: 20px;
  
}
.add-subtract{
  display:flex;
  flex-direction: row;
}
.saveRecipe{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 25px;
}