
.groceryList__container{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: auto ;
;
}

.groceryList--day{ 
  background-color: #8db596;
  border-radius: 7px;
  margin: 1px;
  box-shadow: 0px 5px 10px 0 rgba(65, 65, 65, 0.95);
}


select{
  border-radius: 7px;
}
.btn--saveList{
  position: relative;
  left:90%;
 margin-top:10px
}
