.navbar__item {
  list-style: none;
  text-decoration: none;
  font-size: .75rem;
  text-transform: uppercase;
  padding: .5rem 0;
  font-weight: bold;
  letter-spacing: 0.5rem;
  transition: color 0.3s linear;
  
  
}

.navbar__item:hover {
  color:red;
}


.navbar__container{
  display: flex;
  flex-direction: column;
  justify-content: top;
  position: absolute;
  height: 100vh;
  text-align: left;
  padding: 2rem;
  top: 0;
  left:0;
  transition: transform 0.3s ease-in-out;
  background-color:#bedbbb ;
  transform: translateX(-100%);
  box-shadow: 0px 5px 50px 0 rgba(54, 54, 54, 0.55);
  border-top-right-radius:  7px;
  border-bottom-right-radius: 7px;
}

.logout{
  right: 3%;
    top: 1.5rem;
    position: absolute;
}

.button--logout{
  margin-left:70%;
}